@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #0F0F1B, #1A1A2E);
  color: var(--text-light);
  min-height: 100vh;
}

button {
  cursor: pointer;
}